* {
  cursor: url('nyan/nyan1.svg') 7 4, default;
  animation: cursor 0.42s linear infinite;
}
@keyframes cursor {
  0%    { cursor: url('nyan/nyan1.svg') 7 4, default; }
  16.7% { cursor: url('nyan/nyan2.svg') 7 4, default; }
  33.4% { cursor: url('nyan/nyan3.svg') 7 4, default; }
  50%   { cursor: url('nyan/nyan4.svg') 7 4, default; }
  66.7% { cursor: url('nyan/nyan5.svg') 7 4, default; }
  83.4% { cursor: url('nyan/nyan6.svg') 7 4, default; }
}
html {
  display: flex;
  height: 100%;
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-image: url('assets/giraffe.gif');
  background-size: cover;
}
a:hover {
  color: red;
}
#quiz-list a {
  display: block;
}

h1 {
  margin-top: 0;
}

#wrapper {
  width: 100%;
  max-width: 550px;
  margin: auto;
  padding: 32px;
  border-radius: 8px;
  background-color: #fbfbfb;
  box-shadow: 0 4px 10px -4px #0128;
}

table {
  width: 100%;
}
tr {
  width: 100%;
  background-color: white;
}
tr:nth-of-type(2n) {
  background-color: #f1fbff;
}
td {
  padding: 0.5ch;
}

input[type="number"] {
  width: 8ch;
}

input[type="checkbox"] {
  opacity: 0;
}

label:has(input[type="checkbox"]) {
  display: block;
  width: 2em;
  height: 2em;
  margin: -0.5em;
  background-image: url(assets/star_outline.svg);
  background-position: center;
  background-size: contain;
}
label:has(input[type="checkbox"]:checked) {
  background-image: url('assets/star_fill.svg');
}

#graphs {
  width: 100%;
  height: 200px;
}

@keyframes shake {
  0% { transform: rotate(-1deg); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  75% { transform: rotate(1deg); }
  100% { transform: rotate(-1deg); }
}

.context-menu-warning {
  position: fixed;
  font-size: 64px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 9999;
  animation: shake 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

#quiz-viewer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#quiz-viewer iframe {
  width: 60%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  border: none;
  min-width: 600px;
}

#quiz-viewer #close {
  position: absolute;
  border: none;
  width: 50px;
  height: 50px;
  background: 'white';
  left: 81%;
  top: 10%;
  font-size: 25px;
  border-radius: 50%;
}

#quiz-viewer #fullscreen {
  position: absolute;
  border: none;
  width: 50px;
  height: 50px;
  background: 'white';
  left: 81%;
  top: calc(10% + 60px);
  font-size: 25px;
  border-radius: 50%;
  transform: rotate(-45deg);
  padding-bottom: 5px;
}

#quiz-viewer #random {
  position: absolute;
  border: none;
  width: 50px;
  height: 50px;
  background: 'white';
  left: 81%;
  top: calc(10% + 120px);
  font-size: 25px;
  border-radius: 50%;
  padding-bottom: 5px;
}